<nav> <!-- navbar content here  --> </nav>

<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src="https://scontent.fktm10-1.fna.fbcdn.net/v/t1.0-9/13265887_864594933645853_8183951741744935898_n.jpg?_nc_cat=104&_nc_ht=scontent.fktm10-1.fna&oh=784122a9bea62261810e6353f5fb6726&oe=5D8021AA">
    </div>
    <a href="#"><img class="circle" src="https://scontent.fktm10-1.fna.fbcdn.net/v/t1.0-1/p160x160/57686542_1933261343445868_145305770190176256_n.jpg?_nc_cat=110&_nc_ht=scontent.fktm10-1.fna&oh=9c18e014eb68e070b30b0fbe15eacaab&oe=5D82BD81"></a>
    <a href="#"><span class="white-text name">Satyam</span></a>
    <a href="#"><span class="white-text email">satyam.khadka123@gmail.com</span></a>
  </div></li>
  <li><a href="#"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a href="#">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      